/* sec-service */
main .sec-service {
  padding-bottom: 96px; }
  main .sec-service > .container {
    height: 720px;
    z-index: 50; }
    main .sec-service > .container > .row::after {
      content: "";
      display: none; }
  main .sec-service h1.title {
    margin-top: 58px;
    margin-bottom: 0; }

/* / sec-service */
main .business-shine {
  background: url("../../images/servics_bg.jpg") no-repeat center center/cover; }
  main .business-shine .title {
    margin-top: 120px;
    text-align: start;
    margin-bottom: 23px; }
  main .business-shine__col {
    max-width: 696px;
    width: 100%; }
  main .business-shine__progress {
    width: 100%; }
  main .business-shine__view {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between; }
    main .business-shine__view span {
      font-family: var(--gilroy-bold);
      font-size: 18px;
      line-height: 22px;
      color: black; }
  main .business-shine__prot {
    width: 100%;
    height: 53px;
    margin-top: 12px;
    background: #f2f2f2; }
    main .business-shine__prot span {
      display: block;
      width: 80%;
      height: 100%;
      background: #00b027; }
  main .business-shine__img {
    width: 406px;
    height: 853px;
    margin-top: 13px; }
    main .business-shine__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

footer {
  margin-top: 0px; }

@media (max-width: 1199px) and (min-width: 992px) {
  .sec-service {
    position: relative; }
    .sec-service .justify-between {
      justify-content: space-evenly; }

  .business-shine {
    position: relative;
    margin-top: 450px;
    overflow: hidden; }
    .business-shine .justify-between .title {
      font-size: 45px; }
    .business-shine .justify-between .business-shine__progress {
      width: 75%; }
    .business-shine .justify-between .business-shine__img {
      width: 25%; }
      .business-shine .justify-between .business-shine__img img {
        width: 400px; } }
@media (min-width: 500px) and (max-width: 991px) {
  .sec-service {
    position: relative; }
    .sec-service .justify-between {
      justify-content: center; }
      .sec-service .justify-between .title {
        font-size: 40px; }

  .business-shine {
    position: relative;
    margin-top: 1000px;
    overflow: hidden; }
    .business-shine .justify-between .title {
      font-size: 40px; }
    .business-shine .justify-between .business-shine__col {
      width: 75%; }
    .business-shine .justify-between .business-shine__progress {
      width: 90%; }
    .business-shine .justify-between .business-shine__img {
      width: 20%; }
      .business-shine .justify-between .business-shine__img img {
        width: 400px; } }
@media (max-width: 700px) and (min-width: 450px) {
  .sec-service .justify-between .title {
    font-size: 30px; }

  .business-shine .justify-between .business-shine__col {
    padding: 0 20px;
    width: 85%; } }
@media (max-width: 500px) and (min-width: 320px) {
  .sec-service {
    position: relative; }
    .sec-service .justify-between {
      padding: 0 20px;
      justify-content: center; }
      .sec-service .justify-between .title {
        font-size: 30px;
        line-height: 40px; }
        .sec-service .justify-between .title .mark-1 {
          font-size: 20px; }

  .business-shine {
    position: relative;
    margin-top: 1000px;
    overflow: hidden; }
    .business-shine .justify-between .title {
      font-size: 35px;
      line-height: 45px; }
      .business-shine .justify-between .title .mark-1 {
        font-size: 20px; }
    .business-shine .justify-between .business-shine__col {
      padding: 0 20px;
      width: 100%; }
    .business-shine .justify-between .business-shine__progress {
      width: 100%; }
    .business-shine .justify-between .business-shine__img {
      width: 20%; }
      .business-shine .justify-between .business-shine__img img {
        width: 400px; } }

/*# sourceMappingURL=services.css.map */
