html {
  font-size: 16px;
}

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
}

main{
  overflow: hidden;
}

.title {
  font-family: $gilroy-bold;
  font-weight: bold;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  color: #00187b;
  display: flex;
  flex-direction: column;
  .mark-1 {
    margin-bottom: 15px;
    display: block;
    font-family: $gilroy-bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: black;
  }
}

.card {
  max-width: 364px;
  width: 100%;
  margin: 0 auto;
  background: $white;
  filter: drop-shadow(0px 0px 19px rgba(0, 176, 39, 0.1));
  cursor: pointer;
  &__img {
    width: 100%;
    height: 257px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }
  &__body {
    padding: 19px 24px;
    &.active {
      .card__link {
        span {
          .ic {
            background: $white;
          }
          background: #00b027;
        }
      }
    }
  }
  &__title {
    font-family: $gilroy-bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #00187b;
  }
  &__text {
    margin-top: 14px;
    font-family: $gilroy-medium;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
  }
  &__list {
    display: none;
    margin-top: 14px;
    margin-bottom: -10px;
    padding-left: 24px;
    &.active {
      display: block;
    }
    li {
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 39px;
      color: #696969;
      list-style: disc;
    }
  }
  &__link {
    margin-top: 29px;
    margin-bottom: 7px;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 26px;
      color: #00187b;
    }
    span {
      width: 32px;
      height: 32px;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 12px;
      .ic {
        background: #00187b;
      }
    }
  }
}

.btn-up {
  position: fixed;
  bottom: 40px;
  right: 125px;
  width: 56px;
  height: 56px;
  background: #00b027;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 999;
  outline: none;
  transition: all 200ms ease-in-out;
  &:hover {
    background: #2b388f;
  }
  &.btn-up-change {
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.ic {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  -webkit-mask: {
    repeat: no-repeat;
    size: 100%;
    position: center center;
  }
}
.ic_bars {
  -webkit-mask-image: url("../../images/icons/bars_icon.svg");
}
.ic_times {
  -webkit-mask-image: url("../../images/icons/times.svg");
}
.ic_telegram {
  -webkit-mask-image: url("../../images/icons/telegram.svg");
}
.ic_whatsapp {
  -webkit-mask-image: url("../../images/icons/whatsapp.svg");
}
.ic_facebook {
  -webkit-mask-image: url("../../images/icons/facebook.svg");
}
.ic_youtube {
  -webkit-mask-image: url("../../images/icons/youtube.svg");
}
.ic_instagram {
  -webkit-mask-image: url("../../images/icons/instagram.svg");
}
.ic_plus {
  -webkit-mask-image: url("../../images/icons/plus.svg");
}
.arrow-up {
  -webkit-mask-image: url("../../images/icons/arrow-up.svg");
}
