@font-face {
  font-family: "gilroy-light";
  src: url("../../fonts/Gilroy-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "gilroy-regular";
  src: url("../../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "gilroy-medium";
  src: url("../../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "gilroy-bold";
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "gilroy-heavy";
  src: url("../../fonts/Gilroy-Heavy.ttf");
  font-weight: 800;
}

:root {
  --gilroy-light: "gilroy-light", sans-serif;
  --gilroy-regular: "gilroy-regular", sans-serif;
  --gilroy-medium: "gilroy-medium", sans-serif;
  --gilroy-bold: "gilroy-bold", sans-serif;
  --gilroy-heavy: "gilroy-heavy", sans-serif;
}

$gilroy-light: var(--gilroy-light);
$gilroy-regular: var(--gilroy-regular);
$gilroy-medium: var(--gilroy-medium);
$gilroy-bold: var(--gilroy-bold);
$gilroy-heavy: var(--gilroy-heavy);
