/* header*/
header {
  width: 100%;
  height: 870px;
  position: relative;
  .navbar {
    padding-top: 36px;
    padding-bottom: 29px;
  }
  .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .img {
      max-width: 1920px;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .container {
    > .row {
      position: relative;
      z-index: 15;
    }
  }
  .heder-right {
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      padding-left: 0;
      &__item {
        margin-right: 43px;
        padding: 10px 0;
        &::after {
          content: "";
          display: block;
          margin-top: 3px;
          width: 26px;
          height: 2px;
          background: #00ca2c00;
          transform: translateX(50px);
          transition: var(--transition-all);
        }
        &:hover,
        &.active {
          &::after {
            content: "";
            background: #00ca2c;
            transform: translateX(0);
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
        &:nth-of-type(3) {
          position: relative;
          z-index: 20;
          .menu-block {
            display: flex;
            align-items: center;
            span {
              margin-left: 7px;
              cursor: pointer;
              border-bottom: 1px solid rgba(255, 255, 255, 0);
              transition: var(--transition-all);
              &:hover {
                border-color: rgb(255, 255, 255);
              }
              svg {
                transform: translateY(-1px);
                pointer-events: none;
              }
            }
          }
          &:hover {
            .menu-init {
              display: block;
            }
          }
        }
      }
      &__link {
        font-size: 20px;
        line-height: 24.5px;
        font-family: $gilroy-bold;
        color: $white;
      }
      &-init {
        width: 232px;
        display: none;
        padding: 0;
        position: absolute;
        transform: translateY(5px);
        background: $white;
        box-shadow: 0 0 6px 0 rgb(211, 211, 211);
        &__item {
          cursor: pointer;
          &:hover {
            .menu-init__link {
              border-color: #00b026;
              background-color: #f5f5f5;
            }
          }
        }
        &__link {
          padding: 16px 0;
          padding-left: 18px;
          padding-right: 12px;
          font-family: $gilroy-medium;
          font-size: 16px;
          line-height: 26px;
          color: #575757;
          background-color: $white;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #00b02600;
          transition: all 250ms ease-in-out;
        }
        &.active {
          display: block;
        }
      }
    }
    .call-number {
      margin-left: 69px;
      cursor: pointer;
      a {
        display: block;
        font-size: 22px;
        line-height: 27.5px;
        font-family: $gilroy-heavy;
        color: $white;
        span {
          font-size: 20px;
          line-height: 24.26px;
          font-family: $gilroy-medium;
        }
      }
    }
    .lang__card {
      padding: 5px 0;
      margin-left: 53px;
      position: relative;
      .lang-basic {
        display: block;
        width: 68px;
        height: 32px;
        border: 1px solid $white;
        border-radius: 27.5px;
        font-size: 20px;
        text-align: center;
        line-height: 32px;
        font-family: $gilroy-medium;
        color: $white;
        cursor: pointer;
        svg {
          transform: translateY(-1px);
          margin-left: 7px;
        }
      }
      .lang__content {
        width: 68px;
        display: none;
        position: absolute;
        transform: translateY(5px);
        background: $white;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 lightgrey;
        overflow: hidden;
        a {
          display: block;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 14px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #7e7e7e;
          font-family: $gilroy-medium;
          border-bottom: 1px solid #00ca2c00;
          background: $white;
          transition: var(--transition-all);
          &:hover {
            border-color: #00ca2c;
            background: #f5f5f5;
          }
        }
        &.lang__content-active {
          display: block;
        }
      }
    }
    .order {
      padding: 15px 28px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      font-family: $gilroy-bold;
      color: $white;
      background: #00ca2c;
      border-radius: 5px;
      margin-left: 53px;
      transition: var(--transition-all);
      &:hover {
        background: #2b388f;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #02209c;
    opacity: 0.55;
    z-index: 1;
  }
  .category {
    position: relative;
    transform: translateY(0);
    z-index: 10;
    &-title {
      margin: 0;
      margin-top: 164px;
      font-family: $gilroy-heavy;
      font-size: 60px;
      line-height: 75px;
      color: $white;
    }
    &-text {
      margin-top: 20px;
      font-family: $gilroy-medium;
      font-size: 20px;
      line-height: 31px;
      color: #dedede;
    }
    .connection {
      margin-top: 53px;
      display: flex;
      &__link {
        display: inline-block;
        font-family: $gilroy-medium;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        transition: all 200ms ease-in-out;
        &:first-of-type {
          padding: 16px 47px;
          background: #00ca2c;
          border-radius: 5px;
          &:hover {
            background: #2b388f;
          }
        }
        &:last-of-type {
          margin-left: 12px;
          padding: 16px 55px;
          border: 1px solid #ffffff;
          border-radius: 5px;
          background: transparent;
          box-shadow: 0 0 0px 0 #00ca2c;
          &:hover {
            border-color: #2b388f;
            box-shadow: 0 0 10px 0 #2b388f;
          }
        }
      }
    }
    &-list {
      width: 100% !important;
      padding: 0;
      display: flex !important;
      justify-content: space-between;
      &__item {
        max-width: 371px;
        display: flex !important;
        margin-top: 159px;
        padding: 23px 28px;
        background: #ffffff;
        box-shadow: 0px 25px 63px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border-bottom: 6px solid #00ca2c00;
        cursor: pointer;
        outline: none;
        transition: var(--transition-all);
        span {
          display: inline-block;
        }
        &:hover,
        &.tns-nav-active {
          border-bottom: 6px solid #00ca2c;
        }
      }
      &__text {
        margin-left: 22px;
        h4 {
          font-family: $gilroy-bold;
          font-size: 24px;
          line-height: 30px;
          color: black;
        }
        p {
          font-family: $gilroy-medium;
          font-size: 16px;
          line-height: 24px;
          color: #696969;
        }
      }
    }
    .container{
      .tns-outer{
        > button{
          display: none !important;
        }
        .tns-controls{
          display: none !important;
        }
      }
    }
    &-col{
      width: 793px;
    }
  }
  .navbar-fixed {
    display: none;
    position: fixed !important;
    top: 0;
    left: 50%;
    max-width: 1920px;
    width: 100%;
    transform: translateX(-50%);
    z-index: 999;
    background: #00b027;
    nav {
      width: 1200px;
      margin: 0 auto;
      .brand-logo {
        margin-top: 18px;
        margin-bottom: 15px;
      }
      .menu__item {
        &::after {
          background: rgba(255, 255, 255, 0);
        }
        &.active,
        &:hover {
          &::after {
            background: $white;
          }
        }
      }
      .menu__link {
        color: $white;
        > svg {
          path {
            stroke: $white;
          }
        }
      }
      .call-number {
        p {
          color: $white;
        }
      }
      .lang__card {
        .lang-link-active {
          border-color: $white;
          color: $white;
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
    .order {
      background-color: $white;
      color: #00ca2c;
      border-bottom: 4px solid #00197b00;
      transition: var(--transition-all);
      &:hover {
        border-bottom: 4px solid #00197b;
        background-color: $white;
      }
    }
  }
  .navbar-mobil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 15px;
    background: transparent;
    z-index: 999;
    > .container {
      height: 100%;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-toggol {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        .ic {
          background: $white;
          &.color-active {
            background: var(--black);
          }
        }
        .ic_bars {
          width: 33px;
          height: 33px;
        }
      }
    }
    &__navbar {
      display: none;
      .heder-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .menu {
          flex-direction: column;
          align-items: center;
          &__item {
            margin-right: 0;
            &:nth-of-type(3) {
              a {
                svg {
                  path {
                    stroke: var(--black);
                  }
                }
              }
            }
            .menu-block {
              span {
                svg {
                  path {
                    stroke: var(--black);
                  }
                }
              }
            }
          }
          &__link {
            color: var(--black);
          }
        }
        .call-number {
          margin: 10px 0;
          a {
            color: var(--black);
          }
        }
        .lang__card {
          margin: 10px 0;
          .lang-basic {
            color: var(--black);
            border-color: var(--black);
          }
          svg {
            path {
              stroke: var(--black);
            }
          }
        }
        .order {
          margin: 10px 0;
          // color: var(--black);
          // background: $white;
        }
      }
      &.active {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    &.navbar-mobil-bg {
      position: fixed;
      background: $white;
      height: 100%;
    }
  }
  .navbar-mobil-active {
    position: fixed;
    background: #00b027;
    padding: 6px 0;
  }
}

/* / header*/
/* main */
/* sec-about */
main .sec-about {
  background: url("../../images/sec-about_bg.png") no-repeat center center /
    cover;
  > .container {
    > .row {
      padding: 94px 0;
    }
  }
  &__left {
    max-width: 632px;
    width: 100%;
    max-height: 601px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__right {
    width: 458px;
    .title {
      text-align: start;
      .mark-2 {
        margin-top: 12px;
        display: block;
        width: 133px;
        height: 2px;
        background: #00ca2c;
      }
    }
  }
  &__text {
    margin-top: 20px;
    font-family: $gilroy-bold;
    font-weight: bold;
    font-size: 15px;
    line-height: 31px;
    color: #696969;
  }
  &__detailed {
    font-family: $gilroy-bold;
    font-weight: bold;
    font-size: 22px;
    line-height: 5px;
    color: #000000;
    span {
      font-weight: bold;
      font-size: 51px;
      line-height: 63px;
      font-family: $gilroy-bold;
      color: #00ca2c;
    }
  }
  &__link {
    display: block;
    width: 180px;
    height: 50px;
    margin-top: 35px;
    font-family: $gilroy-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #00ca2c;
    border-radius: 5px;
    transition: var(--transition-all);
    &:hover {
      background: #2b388f;
    }
  }
}
/* / sec-about */
/* sec-service */
main .sec-service {
  position: relative;
  .card-cloumn {
    position: relative;
    max-width: 364px;
    width: 100%;
    height: 485px;
    margin-top: 48px;
    z-index: 50;
    .card {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .title {
    margin-top: 122px;
    margin-bottom: 0;
    text-align: center;
  }
  &__text {
    max-width: 1125px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 15px;
    font-family: $gilroy-regular;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #696969;
  }
  .card {
    // filter: drop-shadow(0px 0px 0 rgba(0, 176, 39, 0));
    transition: var(--transition-all);
    &:hover {
      filter: drop-shadow(0px 0px 19px rgba(0, 176, 39, 0.1));
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 191px;
    left: 0;
    display: block;
    width: 581px;
    height: 581px;
    background: rgba(0, 176, 39, 0.1);
    filter: blur(188px);
  }
}
/* / sec-service */
/* sec-facilities */
main .sec-facilities {
  margin-top: 84px;
  height: 561px;
  background: url("../../images/curtain-with-sunlight\ 1.jpg") no-repeat center
    center / cover;
  position: relative;
  overflow: hidden;
  z-index: 0;
  .container {
    > .row {
      position: relative;
      z-index: 10;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181c35;
    opacity: 0.55;
  }
  .title {
    margin-top: 68px;
    color: $white;
    .mark-1 {
      color: #00b027;
    }
  }
  &__text {
    max-width: 462px;
    margin-left: 74px;
    margin-top: 77px;
    p {
      font-family: $gilroy-medium;
      font-size: 20px;
      line-height: 33px;
      color: $white;
    }
  }
  &__img {
    position: absolute;
    top: 214px;
    left: 442px;
  }
}
/* / sec-facilities */
/* sec-project */
main .sec-project {
  margin-top: 75px;
  position: relative;
  &__image {
    max-width: 1200px;
    display: flex !important;
  }

  &__img {
    margin-top: 37px;
    width: 50%;
    max-height: 722px;
    height: 100%;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .flat_view {
      position: absolute;
      bottom: 29px;
      left: 31px;
      padding: 22px 44px;
      font-family: $gilroy-medium;
      display: inline-block;
      color: $white;
      background: rgba(0, 0, 0, 0.42);
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
  #sec-project__images {
    display: flex;
  }
  .tns-outer {
    position: relative;
    .tns-controls {
      position: absolute;
      bottom: 29px;
      right: 40px;
      max-width: 150px;
      display: flex;
      justify-content: space-between;
      z-index: 20;
      button {
        width: 71px;
        height: 71px;
        background: #00b027;
        border: none;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition-all);
        &:first-of-type {
          margin-right: 8px;
        }
        &:hover {
          background-color: #2b388f;
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: -74px;
    left: 0;
    display: block;
    width: 581px;
    height: 581px;
    background: rgba(0, 176, 39, 0.1);
    filter: blur(188px);
  }
}
/* / sec-project */
/* sec-equipment */
main .sec-equipment {
  position: relative;
  .title {
    margin-top: 124px;
  }
  &-text {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: $gilroy-medium;
    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    text-align: center;
    color: #696969;
  }
  &-img {
    width: 279px;
    height: 409px;
    position: relative;
    margin-top: 80px;
    cursor: pointer;
    .img {
      max-width: 189px;
      max-height: 340px;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-trans {
    max-width: 256px;
    width: 100%;
    max-height: 62px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .transform {
      position: relative;
      width: 105%;
      height: 105%;
      padding: 5px;
      .transform-cont {
        width: 100%;
        height: 90%;
        position: absolute;
        background: green;
        border-radius: 10px;
        background: #00b027;
        box-shadow: 0px 16px 32px rgba(0, 176, 39, 0.3);
        transform: translate(1px, -4px) perspective(500px) rotateX(0deg)
          rotateY(200deg) scale(1);
      }
      span {
        display: flex;
        align-items: center;
        position: absolute;
        padding: 0 16px;
        width: 100%;
        height: 100%;
        background: transparent;
        font-family: $gilroy-bold;
        color: $white;
        font-size: 16px;
        line-height: 20px;
        transform: translate(1px, -8px);
      }
    }
  }
  #sec-equipment-slider {
    display: flex !important;
    .sec-equipment__images {
      display: flex !important;
      height: 519px;
    }
  }
  #sec-equipment-slider-ow {
    position: relative;
    z-index: 15;
    .tns-nav {
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
      button {
        width: 30px;
        height: 6px;
        margin: 0 7px;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: #dddddd;
        &.tns-nav-active,
        &:hover {
          background: #00b027;
        }
      }
    }
    .tns-ovh {
      margin: 0 -52px;
      padding: 0 52px;
      .tns-item {
        margin-bottom: 74px;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 241px;
    right: 0;
    display: block;
    width: 581px;
    height: 581px;
    background: rgba(0, 176, 39, 0.1);
    filter: blur(188px);
  }
}
/* / sec-equipment */
/* sec-information */
main .sec-information {
  margin-top: 89px;
  position: relative;
  > .container {
    > .row + .row {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 581px;
        height: 581px;
        background: rgba(0, 176, 39, 0.1);
        filter: blur(188px);
        transform: translate(-328px, 34px);
        opacity: 0.58;
        z-index: 1;
      }
    }
  }

  .title {
  }
  &__left {
    max-width: 697px;
    h4 {
      margin-top: 34px;
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 20px;
      color: black;
    }
    h4 + p {
      margin-top: 14px;
      font-family: $gilroy-medium;
      font-size: 15px;
      line-height: 31px;
      color: #696969;
    }
  }
  &__right {
    width: 440px;
    height: 334px;
    margin-top: 54px;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
/* / sec-information */
/* sec-client */
main .sec-client {
  margin-top: 152px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 581px;
    height: 581px;
    background: rgba(0, 176, 39, 0.1);
    filter: blur(188px);
    opacity: 0.58;
    z-index: 1;
  }

  .title {
    max-width: 735px;
    margin: 0 auto;
  }
  &__commit {
    margin-top: 25px;
    font-family: $gilroy-regular;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #00b027;
  }
  .card {
    width: 100%;
    margin-top: 42px;
    margin-bottom: 62px;
    padding: 24px 34px;
    filter: drop-shadow(0px 0px 12px rgba(0, 176, 39, 0.1));
    cursor: pointer;
    &__text {
      font-family: $gilroy-medium;
      font-size: 15px;
      line-height: 26px;
      margin-top: 21px;
      margin-bottom: 33px;
    }
    &__bottom {
      margin: 0 -34px;
      padding: 21px 0 0 34px;
      border-top: 1px solid #e1e1e1;
      display: flex;
      align-items: center;
    }
    .user {
      margin-left: 14px;
      &__name {
        font-family: $gilroy-bold;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #00187b;
      }
      &__job {
        font-family: $gilroy-medium;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        color: #696969;
      }
    }
  }
  .tns-outer {
    position: relative;
    z-index: 15;
    .tns-ovh {
      margin: -26px -30px;
      padding: 26px 30px;
    }
    .tns-nav {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      button {
        width: 30px;
        height: 6px;
        margin: 0 7px;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: #dddddd;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        &.tns-nav-active,
        &:hover {
          background: #00b027;
        }
      }
    }
  }
}
/* / sec-client */
/* sec-order */
main .sec-order {
  .title {
    max-width: 1062px;
    margin: 0 auto;
    margin-top: 123px;
  }
  &__contact {
    width: 570px;
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      height: 60px;
      padding: 18px 20px;
      border: 1px solid #d2d2d2;
      border-radius: 5px;
      outline: none;
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      &::placeholder {
        font-family: $gilroy-medium;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
      }
    }
    .name {
      width: 100%;
      float: left;
    }
    .number {
      margin-top: 31px;
      width: 48.5%;
    }
    .selected {
      width: 48.5%;
      height: 60px;
      margin-top: 31px;
      border: 1px solid #d2d2d2;
      background: $white;
      border-radius: 5px;
      background: transparent;
      display: flex;
      align-items: center;
      transition: var(--transition-all);
      select {
        width: 100%;
        height: 100%;
        font-family: $gilroy-medium;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        padding: 18px 20px;
        border: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
      }
      span {
        margin-right: 12px;
        cursor: pointer;
        svg {
          path {
            transition: var(--transition-all);
          }
        }
      }
      &:hover {
        background: #00b027;
        select {
          color: $white;
          option {
            color: #828282;
          }
        }
        span {
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
    .textarea {
      width: 100%;
      height: 170px;
      margin-top: 22px;
      border: 1px solid #d2d2d2;
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      resize: none;
      border-radius: 5px;
      padding: 18px 20px;
      outline: none;
    }
    .btn-submit {
      margin-top: 20px;
      padding: 16px 56px;
      font-family: $gilroy-medium;
      font-size: 16px;
      color: $white;
      background: #00b027;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: var(--transition-all);
      &:hover {
        background: #2b388f;
      }
    }
  }
  &__img {
    max-width: 599px;
    width: 100%;
    max-height: 431px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
/* / sec-order */
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transform: scale(0);
  transition: var(--transition-all);
  &.modal-active {
    transform: scale(1);
  }

  &__cloumn {
    max-width: 693px;
    width: 100%;
    padding: 36px 61px;
    background-color: $white;
    position: relative;
    transform: scale(0);
    transition: var(--transition-all);
    &.modal__cloumn-active {
      transform: scale(1);
    }
  }
  .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  &__title {
    font-family: $gilroy-bold;
    font-size: 36px;
    line-height: 45px;
    color: #00187b;
    text-align: center;
  }
  &__contact {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      height: 60px;
      padding: 18px 20px;
      border: 1px solid #d2d2d2;
      border-radius: 5px;
      outline: none;
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      &::placeholder {
        font-family: $gilroy-medium;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
      }
    }
    .name {
      width: 100%;
      float: left;
      margin-top: 31px;
    }
    .number {
      margin-top: 31px;
      width: 48.5%;
    }
    .selected {
      width: 48.5%;
      height: 60px;
      margin-top: 31px;
      border: 1px solid #d2d2d2;
      background: $white;
      border-radius: 5px;
      background: transparent;
      display: flex;
      align-items: center;
      transition: var(--transition-all);
      select {
        width: 100%;
        height: 100%;
        font-family: $gilroy-medium;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        padding: 18px 20px;
        border: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
      }
      span {
        margin-right: 12px;
        cursor: pointer;
        svg {
          path {
            transition: var(--transition-all);
          }
        }
      }
      &:hover {
        background: #00b027;
        select {
          color: $white;
          option {
            color: #828282;
          }
        }
        span {
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
    .textarea {
      width: 100%;
      height: 170px;
      margin-top: 22px;
      border: 1px solid #d2d2d2;
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      resize: none;
      border-radius: 5px;
      padding: 18px 20px;
      outline: none;
    }
    .btn-submit {
      margin: 0 auto;
      margin-top: 31px;
      padding: 16px 56px;
      font-family: $gilroy-medium;
      font-size: 16px;
      color: $white;
      background: #00b027;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: var(--transition-all);
      &:hover {
        background: #2b388f;
      }
    }
  }
}

.modal-mobil {
  .modal__cloumn {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .modal__title {
    font-size: 16px;
  }
  .modal__contact {
    width: 100%;
    .name {
      width: 100%;
      margin-top: 10px;
    }
    .number {
      width: 100%;
      margin-top: 10px;
    }
    .selected {
      width: 100%;
      margin-top: 10px;
    }
    .textarea {
      margin-top: 10px;
      height: 150px;
    }
    .btn-submit {
      width: 100%;
      margin-top: 10px;
    }
  }
  .btn-close {
    top: 17px;
    right: 17px;
  }
}

/* / modal */
/* second-modal*/
.modal-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 999;
  transform: scale(0);
  transition: var(--transition-all);
  &-basic {
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .modal-close {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
      .ic {
        background-color: var(--black);
      }
    }
  }
  &.active {
    transform: scale(1);
  }
}
/* / second-modal*/
/* footer */
footer {
  margin-top: 70px;
  background-color: #293360;
  .footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    &__logo {
      margin: 31px 0;
    }
    &__icons {
      display: flex;
      .footer-top__link {
        width: 28px;
        height: 28px;
        margin-left: 11px;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #293360;
        overflow: hidden;
        transition: all 200ms ease-in-out;
        .ic {
          width: 100%;
          height: 100%;
          background: $white;
          transition: all 200ms ease-in-out;
        }
        &:hover {
          .ic {
            transition: all 200ms ease-in-out;
            background: #00b027;
          }
        }
      }
    }
  }
  .footer-body {
    padding-bottom: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  }
  .footer {
    &-title {
      margin-top: 45px;
      font-family: $gilroy-bold;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      color: $white;
    }
    &-about {
      width: 266px;
      .footer-title + p {
        margin-top: 26px;
        font-family: $gilroy-medium;
        font-size: 16px;
        line-height: 24px;
        color: #cbcbcb;
      }
    }
    &-services {
      max-width: 184px;
      padding: 0;
      &__item {
        // line-height: 40px;
        &:first-of-type {
          margin-top: 19px;
        }
      }
      &__link {
        display: flex;
        align-items: center;
        del {
          font-family: $gilroy-medium;
          font-size: 16px;
          line-height: 40px;
          color: #cbcbcb;
        }
        span {
          display: inline-flex;
          width: 21px;
          height: 11px;
          svg {
            margin-right: 14px;
            margin-left: 0;
            transition: all 200ms ease-in-out;
          }
        }
        &:hover {
          span {
            svg {
              margin-right: 0;
              margin-left: 6px;
            }
          }
        }
      }
    }
    &-contact {
      max-width: 184px;
      .footer-title + p {
        margin-top: 26px;
        font-family: $gilroy-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #cbcbcb;
      }
      &__number {
        margin-top: 25px;
        a {
          font-family: $gilroy-medium;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #cbcbcb;
          svg {
            margin-right: 10px;
          }
        }
      }
      &__message {
        display: block;
        margin-top: 15px;
        font-family: $gilroy-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #cbcbcb;
        svg {
          margin-right: 10px;
        }
      }
    }
    &-news {
      width: 308px;
      &__text {
        margin-top: 26px;
        font-family: $gilroy-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #cbcbcb;
      }
      &__input {
        width: 100%;
        margin-top: 14px;
        position: relative;
        input {
          width: 100%;
          padding: 16px 54px 16px 19px;
          outline: none;
          border: none;
          font-family: $gilroy-medium;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #9c9c9c;
          &::placeholder {
            font-family: $gilroy-medium;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #9c9c9c;
          }
        }
        .btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 54px;
          height: 100%;
          background-color: #00b027;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          outline: none;
          transition: var(--transition-all);
          &:hover {
            background-color: #2b388f;
          }
        }
      }
    }
  }
  .footer-bottom {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    p,
    a {
      display: block;
      max-width: 250px;
      text-align: center;
      margin: 29px 10px;
      font-family: $gilroy-medium;
      font-size: 16px;
      line-height: 24px;
      color: #cbcbcb;
    }
    a {
      span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.76);
      }
    }
  }
}
/* / footer */

/* / main */
@media screen and(max-width:1319px) {
  header {
    height: unset;
    .navbar {
      justify-content: center;
      > .container {
        > .row {
          justify-content: center;
        }
      }
      .brand-logo {
        margin-bottom: 29px;
        padding: 0 20px;
      }
    }
    .category {
      transform: translateY(40px);
    }
  }
  .sec-order {
    > .container {
      > .row + .row {
        flex-wrap: unset;
      }
    }
  }
  /* .sec-facilities */
  main .sec-facilities {
    &__img {
      left: 383px;
    }
  }
  /*/ .sec-facilities */
  main .sec-project__img .flat_view {
    bottom: 60px;
  }
}

@media screen and(max-width:1200px) {
  .category {
    #customize-thumbnails {
      justify-content: space-around !important;
    }
  }
  /* sec-about */

  main .sec-about {
    > .container {
      > .row {
        justify-content: space-around;
      }
    }
    .title {
      margin-top: 50px;
    }
  }

  main .sec-about {
    &__right {
      .title {
        text-align: center;
        .mark-2 {
          margin-left: auto;
          margin-right: auto;
        }
      }
      h4 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      a {
        text-align: center;
      }
      .sec-about__link {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  /* sec-about */
  /* .sec-service */
  main .sec-service {
    > .container {
      // height: 1470px;
      > .row {
        justify-content: space-around;
      }
    }
    &::after {
      content: "";
      display: none;
    }
  }
  /* .sec-service */
  main .sec-project::after {
    content: "";
    display: none;
  }

  main .sec-information > .container > .row + .row::after {
    content: "";
    display: none;
  }

  main .sec-client::after {
    content: "";
    display: none;
  }

  /* sec-facilities */
  main .sec-facilities {
    height: 720px;
    &__text {
      margin: 0 auto;
      text-align: center;
    }
    &__img {
      position: unset;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  /* / sec-facilities */
  /* sec-information */
  main .sec-information {
    &__left {
      margin: 0 auto;
      text-align: center;
    }
    &__right {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  /* / sec-information */

  footer {
    .footer-about {
      width: 100% !important;
    }
  }
}

@media screen and(max-width:1199px) {
  /* .navbar-mobil */
  header .category {
    &-title {
      text-align: center;
    }
    &-text {
      text-align: center;
    }
    .connection {
      justify-content: center;
    }
  }
  header .heder-right .menu-init {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* / .navbar-mobil */
}

@media screen and(max-width:992px) {
  /**/
  header {
    .category {
      &-list {
        &__item {
          margin-top: 50px;
        }
      }
    }
  }

  /* sec-facilities */
  main .sec-facilities {
    height: 750px;
    .title {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  /* / sec-facilities */
  /* sec-project */
  main .sec-project {
    &__img {
      .flat_view {
        padding: 8px 15px;
      }
    }
  }
  /* / sec-project */

  /* sec-equipment */
  main .sec-equipment {
    &-img {
      span {
      }
    }
  }
  /* / sec-equipment */

  /* sec-order */
  main .sec-order {
    > .container {
      > .row + .row {
        flex-direction: column-reverse;
      }
    }
    &__contact {
      width: 100%;
    }
    &__img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
  }

  /* / sec-order */
  footer {
    .footer-body {
      > .container {
        > .row {
          // justify-content: space-around;
        }
      }
    }
    .footer-news {
      width: 100%;
    }
  }
}

@media screen and(max-width:991px) {
  /* modal window*/
  .modal {
    &__cloumn {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__contact {
      .name {
        margin-top: 20px;
      }
      .number {
        margin-top: 20px;
      }
      .selected {
        margin-top: 20px;
      }
      .btn-submit {
        margin-top: 20px;
      }
    }
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
  }
  /* / modal window*/
}

@media screen and(max-width:768px) {
  header .category {
    &-title {
      text-align: center;
    }
    &-text {
      text-align: center;
    }
    .connection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-list__item {
      max-width: 300px;
      flex-direction: column;
      align-items: center;
      .category-list__text {
        margin-left: 0;
        text-align: center;
      }
    }
  }

  /* sec-service */
  main .sec-service {
    .title {
      margin-top: 60px;
    }
  }
  /* / sec-service */
  /* sec-facilities */
  main .sec-facilities {
    height: 695px;
  }
  /* / sec-facilities */
  /* sec-project */
  main .sec-project {
    &__img {
      .flat_view {
        font-size: 15px;
        padding: 8px 15px;
      }
    }
    .tns-outer {
      .tns-controls {
        button {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  /* / sec-project */
}

@media screen and(max-width:575px) {
  .container {
    padding: 0 15px;
  }

  header .category {
    &-title {
      font-size: 30px;
      line-height: 40px;
    }
    &-text {
      font-size: 15px;
      line-height: 25px;
    }
    .connection {
      justify-content: space-around;
      &__link {
        margin: 0 8px !important;
      }
    }
  }
  main {
    overflow: hidden;
  }

  .title {
    font-size: 30px !important;
    line-height: 35px !important;
  }

  main .sec-service {
    > .container {
      padding: 0;
    }
  }

  main .sec-facilities {
    > .container {
      padding: 0;
    }
    height: 520px;
    &__text p {
      font-size: 20px;
      line-height: 25px;
    }
  }

  main .sec-project {
    &__img {
      .flat_view {
        font-size: 10px;
        padding: 1px 10px;
        bottom: 38px;
        left: 0;
      }
    }
    .tns-outer {
      .tns-controls {
        bottom: 0;
        right: 10px;
        button {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  main .sec-information__left h4 + p {
    line-height: 23px;
  }

  main .sec-equipment #sec-equipment-slider-ow .tns-nav,
  main .sec-client .tns-outer .tns-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  main .sec-client {
    margin-top: 0;
  }

  main .sec-order__contact {
    margin-top: 20px;
    .number {
      width: 100%;
    }
    .selected {
      width: 100%;
    }
    .btn-submit {
      width: 100%;
    }
  }

  .modal {
    &__contact {
      flex-wrap: unset;
      flex-direction: column;
      .name {
        height: 40px;
      }
      .number {
        width: 100%;
        padding: 10px 20px;
        height: 40px;
      }
      .selected {
        width: 100%;
        height: 40px;
        select {
          padding: 0 20px;
        }
      }
      .textarea {
        height: 140px;
      }
      .btn-submit {
        width: 100%;
        padding: 10px 0;
      }
    }
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
  }

  footer .footer-bottom {
    > .container {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 507px) {
  footer .footer-bottom {
    > .container {
    }
    a {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  header .category .connection__link:last-of-type {
    margin-top: 20px !important;
  }
}
